
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #B8B8B8;
$lighterGray: #eee;
$white: #fff;

$background: smoke;
$border: #ccc;

// Fonts
$sans-font: "Raleway", sans-serif;
$serif-font: "Merriweather", serif;
$code-font: Menlo, Monaco, "Courier New", monospace;

$base-font-size: 1rem;
$base-spacing: 1.7em;
